.div
  = link_to '<Volver', homes_path
  %br
  = link_to 'Nuevo Dispositivo', new_tool_path
  %h1.title Lista de dispositivos
  %table{id: 'table'}
    %tr
      %th Nombre
      %th Tipo
      %th Estado
      %th Opciones
      %th
      - @tools.each do |tool|
        %tr
        %td= tool.name
        %td= tool.tool_type == 'tool' ? 'Dispositivo' : 'Sala'
        %td= tool.status == 'active' ? 'Activo' : 'Inactivo'
        %td= link_to 'Editar', [:edit, tool]
