%h1 Iniciar sesion
= form_with url: '/login', method: :post do |f|
  = f.label :email
  = f.text_field :email, type: :email
  = f.label :password
  = f.text_field :password, type: :password
  = f.submit :submit
