.div
  = link_to '<Volver', homes_path
  = link_to 'Nuevo Usuario', new_user_path
  %h1.title Lista de usuarios
  %table{id: 'table'}
    %tr
      %th Nombre
      %th Correo
      %th Telefono
      %th Estado
      %th Opciones
      %th
      - @users.where('role != 4').each do |user|
        %tr
        %td= "#{user.first_names} #{user.last_names}"
        %td= user.email
        %td= user.phone
        %td= user.status == 'active' ? 'Activo' : 'Inactivo'
        %td= link_to 'Editar', [:edit, user]
