.div
  = link_to '<Volver', homes_path
  = link_to 'Nuevo Usuario', new_user_path
  %h1.title Lista de usuarios
  %table{id: 'table', class: "table table-striped custab"}
    %tr
      %th Nombre
      %th Correo
      %th Telefono
      %th Estado
      %th Opciones
      - @users.where('role != 4').each do |user|
        %tr
        %td= user.full_name
        %td= user.email
        %td= user.phone
        %td= user.status == 'active' ? 'Activo' : 'Inactivo'
        %td= link_to 'Editar', [:edit, user]
