%h1 Crear nuevo usuario

.container.new-record
= simple_form_for @user do |f|
  = f.label :first_names
  = f.input_field :first_names

  = f.label :last_names
  = f.input_field :last_names

  = f.label :email
  = f.input_field :email

  = f.label :phone
  = f.input_field :phone

  = f.label :password
  = f.input_field :password

  = f.label :confirmation_password
  = f.input_field :confirmation_password

  = f.label :role
  = f.select :role, %i[administrator aux student teacher].map{|option, index| [index, option]}, include_blank: true

  = f.submit 'Save'
