.container.home
  %h1 Dispositivos
  = link_to 'Dispositivos', tools_path
  = link_to 'Reservaciones', reservations_path
  = link_to 'Donaciones', donations_path
  = link_to 'Agenda', calendar_path

  %h1 Usuarios
  = link_to 'Usuarios', users_path
